.container{
  max-width: 1140px;
  display: block;
  margin: 0 auto;
  position: relative;
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1.5rem!important;
  }
}