<div class="container global-container">
  <h2>{{title}}</h2>
  <div class="row position-relative">
    <div class="custom-button-prev left-btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </div>
    <swiper  [config]="config" [autoplay]="{disableOnInteraction: false}" [navigation]="true" [breakpoints]="swiperBreakpoint">
      <ng-template swiperSlide *ngFor="let course of courses;">
        <app-course-card [course]='course'></app-course-card>
      </ng-template>
    </swiper>
    <div class="custom-button-next right-btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </div>
  </div>
</div>
