<div class="banner">
  <div class="banner-box flex global-container">
    <div class="banner-box__textual">
      <h1>
        <!-- Welcome to Geeks UI Learning Application -->
        {{'homePage.bannerTitle' | translate}}
      </h1>
      <p class="">
        {{'homePage.bannerDescribe' | translate}}
      </p>
    <div class="banner-box__textul-btns flex">
      <app-btn [title]="'Browse courses'" [url]="'#'" [typeColor]="'susses'" [size]="'normal'"></app-btn>
      <app-btn [title]="'Are You Instructor?'" [url]="'#'" [typeColor]="'white'" [size]="'normal'"></app-btn>
    </div>
    </div>
    <div class="banner-box__img">
      <img src="../../../../../assets/img/hero-img.png" alt="banner image" srcset="">
    </div>
  </div>
</div>

